		<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Form Vacancy</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<flash-message
				    duration="10000"
				    show-close="true"
				    on-dismiss="myCallback(flash);"
				></flash-message> 
	    		<form>
	    		<div class="row">
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
		        				 	<label for="comment-name"><b>Job Title</b></label>
									<input class="form-control" id="comment-name" type="text" placeholder="" ng-model="form.title">
								</div>
						</div>
	    			</div>
	    			<!-- <div class="col-md-2"><pre>{{data | json}}</pre></div> -->
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	    				<div class="comment-form-wrapper">
		        				<div class="form-group">
									<label for="comment-email"><b>Company</b></label>
									<input class="form-control" id="comment-email" type="text" placeholder=""
									ng-model="form.company" required="true">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2">		 
				            <div class="form-group">
									<label for="comment-email"><b>Salary Min (Rp)</b></label>
									<input class="form-control" id="comment-email" type="text" placeholder=""
									ng-model="form.salaryMin" format="number">
								</div>
					</div>
	    			<div class="col-md-2">
				   			 <div class="form-group">
									<label for="comment-email"><b>Salary Max (Rp)</b></label>
									<input class="form-control" id="comment-email" type="text" placeholder=""
									ng-model="form.salaryMax" format="number">
								</div>	 
					</div>
	    	
	    		</div>
	    		<div class="row">
	    			<div class="col-md-3">
	    				<div class="comment-form-wrapper">
		        				<div class="form-group">
									<label for="comment-email"><b>Closed Date</b></label>
									<input type="text" placeholder="" class="form-control" uib-datepicker-popup="{{format}}" ng-model="form.closeDate" is-open="popupStart.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" />
								</div>
						</div>
	    			</div>
	    			<div class="col-md-1 cal-top">
	    				<div class="comment-form-wrapper">
	    					<div class="form-group">
	    						 <span>
                                        <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-4">
	    				<div class="form-group">
									<label for="comment-email"><b>Email</b></label>
									<input class="form-control" id="comment-email" type="text" placeholder=""
									ng-model="form.email" required="true">
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-4">
	    				<div class="comment-form-wrapper">
		        				<div class="form-group">
									<label for="comment-email"><b>Email Subject</b></label>
									<input class="form-control" id="comment-email" type="text" placeholder="" ng-model="form.subject" required="true">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	    				<div class="form-group">
							<label for="comment-message"><b>Company Profile</b></label>
							<textarea class="form-control" rows="5" id="comment-message" ng-model="form.companyProfile"></textarea>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	 						<div class="form-group">
								<label for="comment-message"><b>Job Qualification</b></label>
								<textarea class="form-control" rows="5" id="comment-message" ng-model="form.jobQualification"></textarea>
							</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	    				<div class="form-group">
							<label for="comment-message"><b>Job Description</b></label>
							<textarea class="form-control" rows="5" id="comment-message" ng-model="form.jobDescription"></textarea>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	    				<div class="form-group">
							<label for="comment-email"><b>Job Location</b></label>
							 <select class="form-control" ng-options="item._id as item.name for item in jobLocation" ng-model="form.jobLocationId">
                                <option value="">-- Choose Location --</option>
                            </select>
						</div>
					</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	    				<div class="form-group">
							<label for="comment-message"><b>Address</b></label>
							<textarea class="form-control" rows="3" id="comment-message" ng-model="form.address"></textarea>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	    				<div class="form-group">
							<label for="comment-message"><b>Document Required</b></label>
							<textarea class="form-control" rows="3" id="comment-message" ng-model="form.file"></textarea>
						</div>
					</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-8">
	    				<div class="form-group">
											
							<button type="button" class="btn pull-right button-right" ng-show="btnSubmit" ng-click="saveVacancy()">Submit</button>
							<button type="button" class="btn pull-right button-right" ng-click="editVacancy(form)" ng-show="btnUpdate">Save</button>
							<button type="button" class="btn pull-right button-right button-delete" ng-click="deleteVacancy()" ng-show="btnDelete">Delete</button>
							
							<button class="btn button-cancel" ui-sref="app.vacancy_list">Cancel</button>
							
							<button class="btn button-reset" ng-click="reset()">Reset</button>
							
						</div>
	    			</div>
	    		</div>
	    		</form>
			</div>
		</div>

	  


