		<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>My Activity</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<flash-message
				    duration="10000"
				    show-close="true"
				    on-dismiss="myCallback(flash);"
				></flash-message> 
	    		<ul class="nav nav-tabs">
	    			<li><a href="" ui-sref="app.events_list">Events</a></li>
	    			<li class="active"><a href="" ui-sref="app.vacancy_list" style="background-color: transparent;">Vacancy</a></li>
	    			<li><a href="" ui-sref="app.memories_list">Memories</a></li>
					<li><a href="" ui-sref="app.knowledgessharing_list">Knowledge Sharing</a></li>
	    		</ul>
	    		<br/>
	    		<div class="row">
	    			<div class="col-md-12">
	    				<button class="btn pull-right" style="background-color: green;" ui-sref="app.vacancy_form"><i class="glyphicon glyphicon-plus"></i> Add Vacancy</button>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<!-- for filter events -->
	    			<!-- <div class="col-md-2"> -->
	    			<!-- <div class="col-sm-2 blog-sidebar">
						
					</div> -->
	    			<!-- </div> -->
	    			<!-- list events -->
	    			<div class="col-md-12">
						<div class="comment-form-wrapper">
							<table class="table table-hover" ng-table="tableVacancies" show-filter="true">
								<tr ng-repeat="e in $data" ng-click="goEdit(e._id)">
									<td data-title="'Title'" filter="{title: 'text'}">{{e.title}}</td>
									<td data-title="'Company'" filter="{description: 'text'}">{{e.company}}</td>
									<td data-title="'E-mail'" filter="{place: 'text'}">{{e.email}}</td>
									<td data-title="'Closed Date'" filter="{closeDate: 'text'}">{{e.closeDate|date}}</td>
								</tr>
							</table>
							<h4 ng-show="size < 1" align="center">No vacancy. Let's post some job vacancy.</h4>
						</div>
	    			</div>
	    		</div>
			</div>
		</div>

	  


