<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Open Vacancies</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Open Vacancies List -->
	    			<div class="col-sm-4 blog-sidebar">
						<h4>Search Criteria</h4>
						<form ng-submit="pageChanged()">
							<div class="input-append">
								<input class="form-control input-md" id="appendedInputButtons" type="text" placeholder="Job Title or Keywords ..." ng-model="query.title">
							</div>
							<div class="input-append spc-up">
								 <select class="form-control" ng-options="item._id as item.name for item in jobLocation" ng-model="query.jobLocationId">
                                <option value="">-- All Locations --</option>
                            </select>
							</div>
							<!-- <h4>Department</h4> -->
							<div class="input-append spc-up">
								<input class="form-control input-md" id="appendedInputButtons" type="text" placeholder="Minimum Salary (IDR)" ng-model="query.salaryMin" format="number">
							</div>
							<div class="input-append spc-up">
								<button class="btn form-control button-yellow" type="submit"><font color="black">Search</font></button>
							</div>
						</form>
					</div>
					<div ng-repeat="row in listvacancy">
						 <div class="col-sm-4"></div>
						 <div class="col-md-8">
							<div class="shop-item">
								<div class="row">
									<div class="col-sm-8">
										<div class="title">
											<!-- <h4 class="spc-left"><b>TESTING SEKLAS DKLFKSA LDFSASDL JFLSAJD FLJSAF ASkdjfsa</b></h4> -->
											<h4 class="spc-left"><a href="" ng-click="goDetail(row._id)"><b>{{row.title}}</b></a></h4>
											<h6 class="spc-left">{{row.company}}</h6>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="title">
											<h6 class="spc-left"><i class="glyphicon glyphicon-calendar"></i> {{row.created|date}}</h6>
											<!-- <h6 class="spc-left"><i class="glyphicon glyphicon-usd"></i> Expected Salary</h6> -->
											<h6 class="spc-left"><font color="green">
											<!-- <i class="glyphicon glyphicon-usd"></i>  -->
											IDR {{row.salaryMin|number:2}} - {{row.salaryMax|number:2}}</font></h6>
										</div>
									</div>
								</div>
								<div class="description">
									<p>{{row.jobDescription|limitTo : 150}} ...</p>
								</div>
								<div class="description">
									<div class="row">
										<div class="col-sm-4">
											<h6><i class="glyphicon glyphicon-map-marker"></i> <b>{{row.jobLocationId.name}}</b></h6>
										</div>
										<div class="col-sm-7"><h6 class="pull-right"><font color="red">closed date: </font><b>{{row.closeDate|date}}</b></h6></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="total < 1">
							<h3>No Upcoming Open Vacancy. <br/><br/><br/><br/><br/></h3>
					</div>
				<div class="pagination-wrapper " ng-show="total > 0">
						<ul uib-pagination total-items="offset" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages" ng-change="pageChanged()"></ul>
				</div>

	    			<!-- End Open Vacancies List -->
	    		</div>
			</div>
		</div>

	   