<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Event Details</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<!-- Product Image & Available Colors -->
	    			<div class="col-sm-6">
	    				<div class="product-image-large">
	    					<img src="{{detail.picture}}" alt="Event Picture" ng-click="openLightboxModal(detail.picture)">
	    				</div>
	    			</div>
	    			<!-- End Product Image & Available Colors -->
	    			<!-- Product Summary & Options -->
	    			<div class="col-sm-6 product-details">
	    				<h4>{{detail.title}}</h4>
	    				<div class="price" ng-show="detail.price == 0">
							<font color="green">FREE</font>
						</div>
	    				<div class="price" ng-hide="detail.price == 0">
							<font color="green">{{detail.price | currency:"Rp "}}</font>
						</div>
						<h5><i class="glyphicon glyphicon-calendar"></i> DATE AND TIME</h5>
	    				<p>
	    					{{detail.startDate | date: "EEE"}}, {{detail.startDate | date: "dd"}} {{detail.startDate | date: "MMMM"}} {{detail.startDate | date: "yyyy"}} <span ng-show="detail.startDate != detail.endDate">- {{detail.endDate | date: "EEE"}}, {{detail.endDate | date: "dd"}} {{detail.endDate | date: "MMMM"}} {{detail.endDate | date: "yyyy"}}</span>
	    				</p>
	    			    <p>
	    					{{detail.startTime|date:'shortTime'}} <span ng-show="detail.startTime != detail.endTime && detail.endTime != ''">- {{detail.endTime|date:'shortTime'}} WIB</span> <span ng-show="detail.startTime == detail.endTime || detail.endTime == ''">- END</span>
	    				</p>
	    				<h5><i class="glyphicon glyphicon-phone"></i> CONTACT</h5>
	    				 <p>
	    					{{detail.contact}}
	    				</p>

	    			</div>
	    			<!-- End Product Summary & Options -->
	    			
	    			<!-- Full Description & Specification -->
	    			<div class="col-sm-12">
	    				<div class="tabbable">
	    					<uib-tabset active="activeJustified" justified="false">
	    						<uib-tab index="0" heading="Location">
							    	<div class="tab-content product-detail-info">
									    <div class="tab-pane active" >
											<h5>{{detail.place}}</h5>
											<br/>
											<div map-lazy-load="{{googleMaps}}" class="col s12" style="padding:0px">
									        	 <ng-map center="[{{detail.latitude}}, {{detail.longitude}}]" 
									        	 zoom="15">
									          		<marker position="{{position.lat}}, {{position.lng}}"></marker>
									        	 </ng-map>
							     			</div>
										</div>
									</div>
							    </uib-tab>
							    <uib-tab index="1" heading="Description">
							    	<div class="tab-content product-detail-info">
									    <div class="tab-pane active" >
											<h4>Event Description</h4>
											<p>
												{{detail.description}}
											</p>
										</div>
									</div>
							    </uib-tab>
							 </uib-tabset>
							<!-- <ul class="nav nav-tabs product-details-nav">
								<li class="active"><a href="#tab1" data-toggle="tab"><i class="glyphicon glyphicon-list"></i> Description</a></li>
								<li><a href="#tab2" data-toggle="tab"><i class="glyphicon glyphicon-map-marker"></i> Location</a></li>
							</ul>
							<div class="tab-content product-detail-info">
								<div class="tab-pane active" id="tab1">
									<h4>Event Description</h4>
									<p>
										{{detail.description}}
									</p>
								</div>
								<div class="tab-pane" id="tab2">
									<div map-lazy-load="{{googleMaps}}" class="col s12" style="padding:0px">
							        	 <ng-map on-click="addMarker()" center="[-6.591968462637866, 106.8074244260788]" zoom="15">
							          		<marker position="{{detail.latitude}}, {{detail.longitude}}"></marker>
							        	 </ng-map>
					     			</div>
								</div>
							</div> -->
						</div>
	    			</div>
	    			<!-- End Full Description & Specification -->
	    		</div>
			</div>
		</div>

