		<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Academic</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    	<form ng-submit="saveEvents()">
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>Name</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
									<input class="form-control" id="comment-name" type="text" placeholder=""
									ng-model="form.fullName">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-email"><b>Date of Birth</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-3">
	    				<div class="comment-form-wrapper">
		        				<div class="form-group">
									<input type="text" placeholder="" class="form-control" uib-datepicker-popup="{{format}}" ng-model="form.dateOfBirth" is-open="popupStart.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" readonly />
								</div>
						</div>
	    			</div>
	    			<div class="col-md-1 spc-minleft">
	    				<div class="comment-form-wrapper">
	    					<div class="form-group">
	    						 <span>
                                     <button type="button" class="btn btn-default" ng-click="openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                                 </span>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>Gender</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-1 spc-up spc-left">
						<div class="comment-form-wrapper">
							<div class="row">
		        				<div class="form-group">
									<input type="radio" id="gender_male" value="L" ng-model="form.gender">
									<label class="black-text" for="gender_male">Male</label>
								</div>
							</div>
						</div>
	    			</div>
	    			<div class="col-md-1 spc-up">
						<div class="comment-form-wrapper">
							<div class="row">
								<div class="form-group">
									<input type="radio" id="gender_female" value="P" ng-model="form.gender">
									<label class="black-text" for="gender_female">Female</label>
								</div>
							</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>NIM</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
									<input class="form-control" id="comment-name" type="text" placeholder=""
									ng-model="form.nim">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>Study Program</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
								     <select class="form-control" ng-options="item._id as item.name for item in faculty" ng-model="form.studyProgramId">
                                        <option value="">-- Study Program --</option>
                                    </select>
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>Batch</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
									<input class="form-control" id="comment-name" type="text" placeholder=""
									ng-model="form.batch">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>Academic Status</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-1 spc-up spc-left">
						<div class="comment-form-wrapper">
							<div class="row">
		        				<div class="form-group">
									<input type="radio" id="userType_alumni" value="Alumni" ng-model="form.userType">
									<label class="black-text" for="userType_alumni">Alumni</label>
								</div>
							</div>
						</div>
	    			</div>
	    			<div class="col-md-1 spc-up">
						<div class="comment-form-wrapper">
							<div class="row">
								<div class="form-group">
									<input type="radio" id="userType_student" value="Mahasiswa" ng-model="form.userType">
									<label class="black-text" for="userType_student">Student</label>
								</div>
							</div>
						</div>
	    			</div>
	    		</div>
	    		<br/>
	    		<div class="row">
	    			<div class="col-md-10">
	    				<div class="form-group">
							<button type="button" class="btn pull-right button-right" ng-click="editAcademic(form)">Save</button>
							<button type="button" class="btn pull-right button-right button-cancel" ui-sref="app.setting">Cancel</button>
							
						</div>
	    			</div>
	    		</div>
	    		</form>
			</div>
		</div>

	  


