		<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Change Password</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	    	<form ng-submit="savePassword()">
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>Old Password</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
									<input class="form-control" id="comment-name" type="password" placeholder=""
									ng-model="form.oldPass">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>New Password</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
									<input class="form-control" id="comment-name" type="password" placeholder=""
									ng-model="form.newPass">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<div class="row">
	    			<div class="col-md-2 spc-up">
		    			<div class="comment-form-wrapper">
		    				<div class="form-group">	 	
		    					<label for="comment-name"><b>Confirm New Password</b></label>
		    				</div>
		    			 </div>
	    			</div>
	    			<div class="col-md-8">
						<div class="comment-form-wrapper">
		        				<div class="form-group">
									<input class="form-control" id="comment-name" type="password" placeholder=""
									ng-model="form.newPassConfirm">
								</div>
						</div>
	    			</div>
	    		</div>
	    		<br/>
	    		<div class="row">
	    			<div class="col-md-10">
	    				<div class="form-group">
							<button type="submit" class="btn pull-right button-right">Save</button>
							<button type="button" class="btn pull-right button-right button-cancel" ui-sref="app.setting">Cancel</button>
							
						</div>
	    			</div>
	    		</div>
	    		</form>
			</div>
		</div>

	  


