<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>Setting</h1>
					</div>
				</div>
			</div>
		</div>
        <div class="section">
	    	<div class="container">
	    		<flash-message
				    duration="10000"
				    show-close="true"
				    on-dismiss="myCallback(flash);"
				></flash-message> 
	    		<div class="row">
	    			<!-- Open Vacancies List -->
	    			<div class="col-sm-2 blog-sidebar">
						<!-- <h4>Search Criteria</h4> -->
						<!-- <form ng-submit="filterVacancy()"> -->
							<div class="input-append spc-up">
								<button class="btn form-control button-white" type="button" ng-click="goDetailProfile(user._id)"><font color="black"><i class="glyphicon glyphicon-user"></i> Edit Profile</font></button>
							</div>
							<div class="input-append spc-up">
								<button class="btn form-control button-white" type="button" ng-click="goDetailAcademic(user._id)"><font color="black"><i class="glyphicon glyphicon-book"></i> Edit Academic</font></button>
							</div>
							<!-- <h4>Department</h4> -->
							<div class="input-append spc-up">
								<button class="btn form-control button-white" type="button" ng-click="goDetailPassword()"><font color="black"><i class="glyphicon glyphicon-lock"></i> Change Password</font></button>
							</div>
						<!-- </form> -->
					</div>
					<div >
						 <div class="col-sm-4"></div>
						 <div class="col-md-10">
							<div class="shop-item">
								<div class="row">
									<div class="col-sm-3">
										<div class="title">
											<div class="testimonial" align="left">
							        			<div class="author-photo">
							        				<a href="" ng-click="openLightboxModal(user.profile.photo)">
														<img ng-src="{{resolvedPhotoAccount(user.profile.photo)}}" height="130" width="130" alt="Author 1">
													</a>
												</div>
											</div>
											<h6 class="space-left"><a href="" data-toggle="modal" data-target="#myModal">Edit Profile Picture</a></h6>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="title spc-up">
											<h4><b>{{user.fullName}}</b></h4>
											<h5>{{user.studyProgramId.name}}</h5>
											<h5>{{user.batch}}</h5>
										</div>
									</div>
								</div>
								<div class="description spc-up">
									<h2>ACADEMIC</h2>
									<div class="row">
										<div class="col-md-6">
											<ul>
												<li><h4><b>Name</b><br/>{{user.fullName}}</h4></li>
												<li><h4><b>NIM</b><br/>{{user.nim}}</h4></li>
												<li><h4><b>Study Program</b><br/>{{user.studyProgramId.name}}</h4></li>
												<li><h4><b>Batch</b><br/>{{user.batch}}</h4></li>
											</ul>
										</div>
										<div class="col-md-6">
											<ul>
												<li><h4><b>Date of Birth</b><br/>{{user.dateOfBirth|date}}</h4></li>
												<li><h4><b>Gender</b><br/>{{user.gender}}</h4></li>
												<li><h4><b>Academic Status</b><br/>{{user.userType}}</h4></li>
												<li><h4><b>Email</b><br/>{{user.email}}</h4></li>

											</ul>
										</div>
									</div>
								</div>
								<div class="description spc-up">
									<h2>PROFILE</h2>
									<div class="row">
										<div class="col-md-6">
											<ul>
												<li><h4><b>Current Job</b><br/>{{user.profile.currentJob}}</h4></li>
												<li><h4><b>Marital Status</b><br/>{{user.profile.maritalStatus}}</h4></li>
												<li><h4><b>Current Address</b><br/>{{user.profile.address}}</h4></li>
											</ul>
										</div>
										<div class="col-md-6">
											<ul>
												<li><h4><b>Phone Number</b><br/>{{user.profile.mobileNumber}}</h4></li>
												<li><h4><b>Interest</b><br/>{{user.profile.interest}}</h4></li>
												<li><h4><b>Hobby</b><br/>{{user.profile.hobby}}</h4></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="description spc-up">
									<h2>LOCATION</h2>
									<div map-lazy-load="{{googleMaps}}" class="col s12" style="padding:0px">
							        	 <ng-map center="[{{user.profile.latitude}}, {{user.profile.longitude}}]" 
							        	 zoom="30">
							          		<marker position="{{position.lat}}, {{position.lng}}"></marker>
							        	 </ng-map>
					     			</div>
									
								</div>
							</div>
						</div>
					</div>

	    			<!-- End Open Vacancies List -->
	    		</div>
			</div>
		</div>


		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Change Profile Picture</h4>
		      </div>
		      <div class="modal-body">
		       		<form align="center">
				     	<div class="row">
					      <div class="cropArea">
					        <img-crop image="myImage" result-image="myCroppedImage" result-image-size="300"></img-crop>
					      </div>
					     </div>
						 <div class="row">
			    			<div class="col-md-3 spc-up">
				    			<div class="comment-form-wrapper">
				    				<div class="form-group">	 	
				    					<label for="comment-name"><b>Choose photo</b></label>
				    				</div>
				    			 </div>
			    			</div>
			    			<div class="col-md-8 spc-up">
								<div class="comment-form-wrapper">
				        				<div class="form-group">
											  <input 
								               id="fileInput"
								               type="file" 
								               ngf-select 
								               ng-model="file" 
								               name="file" 
								               ngf-pattern="'image/*'"
								               accept="image/*" 
								               ngf-max-size="20MB"
								               />
										</div>
								</div>
			    			</div>
			    		</div>
			    		<div class="row">
						    <div class="col-md-6">
							        <div class="file-path-wrapper">
							           <i ng-show="upload_form.file.$error.required">*required</i><br>
							            <i ng-show="upload_form.file.$error.maxSize">File too large 
							            {{file.size / 1000000|number:1}}MB: max 20M</i>
							        </div>
						    </div>
					    </div>
					    <div class="row">
					     	 <p class="center-align">{{progress}}</p>
					    </div>
			     </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn pull-right bg-green spc-left" ng-click="save()">Save</button>
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>

	   