<!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-1">
						<img src="app/assets/img/logo_ipb.png" alt="Multipurpose Twitter Bootstrap Template" width="70px" height="70px">
					</div>
					<div class="col-md-8">
						<h1 style="margin-top:20px;">IPB CONNECT</h1>
					</div>
				</div>
			</div>
		</div>
		
		 <div class="section">
	    	<div class="container">
	    		<flash-message
				    duration="10000"
				    show-close="true"
				    on-dismiss="myCallback(flash);"
				></flash-message> 
	    		<div class="row">
	    			<div class="col-sm-5">
	    				<h2>FORGOT PASSWORD</h2>
	    			</div>
	    		</div>
				<h5 class="white-text">Forgot Password</h5>
				<label class="white-text" for="privacy">Masukkan Email Anda untuk menerima password baru.</label>
				<form autocomplete="off">
					<div class="row" style="margin-bottom:0px">
						<div class="input-field col s12 white-text">
							<input id="email" type="email" class="login-form" ng-model="data.email" />
							<label for="email" class="white-text">Email</label>
						</div>
					</div>
				
					<div class="center-align">
						<a class="waves-effect waves-light btn" ng-click="send()">
							<i class="material-icons right">send</i>Kirim
						</a>
					</div>
				</form>
			</div>
	    </div>
		
 <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>IPB Connect</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="#">Our Team</a></li>
		    				<li><a href="#">User Guide</a></li>
		    			</ul>

		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Navigate</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="">Home</a></li>
		    				<li><a href="">Events</a></li>
		    				<li><a href="">Vacancy</a></li>
		    				<li><a href="">Memories</a></li>
							<li><a href="">Share File</a></li>
		    			</ul>
		    		</div>
		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> Institut Pertanian Bogor<br/>
	        				<b>Phone:</b> +6251 23 654321<br/>
	        				<b>Fax:</b> +6251 23 654321<br/>
	        				<b>Email:</b> <a href="ipbconnect@ipb.ac.id">ipbconnect@ipb.ac.id</a>
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div>
		    	</div>
		    	<br/>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2016 IPB Connect. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

	    	<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog modal-lg">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title"><b>Privacy Policy</b></h4>
		      </div>
		      <div class="modal-body-policy" >
		       		<p>
		       			<br />    
Adanya Kebijakan Privasi ini adalah komitmen nyata dari IPB Connect untuk menghargai dan melindungi setiap informasi pribadi Pengguna situs www.ipb-connect.com (situs IPB Connect).
<br /><br /> 
Kebijakan ini menetapkan dasar atas segala data pribadi yang Pengguna berikan kepada IPB Connect atau yang IPB Connect kumpulkan dari Pengguna, kemudian akan diproses oleh IPB Connect mulai pada saat melakukan pendaftaran, mengakses dan menggunakan layanan IPB Connect. Harap memperhatikan ketentuan di bawah ini secara seksama untuk memahami pandangan dan kebiasaan IPB Connect berkenaan dengan data IPB Connect memperlakukan informasi tersebut.
<br /><br /><br /> 


<b>Informasi Pengguna</b>
<br /><br /> 
IPB Connect mengumpulkan informasi Pengguna dengan tujuan untuk memperoses dan memperlancar proses penggunaan situs IPB Connect. Tindakan tersebut telah memperoleh persetujuan Pengguna pada saat pengumpulan informasi.
<br /><br /> 
IPB Connect mengumpulkan informasi pribadi sewaktu Pengguna mendaftar ke IPB Connect, sewaktu Pengguna menggunakan layanan IPB Connect, sewaktu Pengguna mengunjungi halaman IPB Connect atau halaman-halaman para mitra tertentu dari IPB Connect, dan sewaktu Anda menghubungi IPB Connect.
<br /><br /> 
Sewaktu Anda mendaftar untuk menjadi Pengguna IPB Connect, maka IPB Connect akan mengumpulkan data pribadi Pengguna, yakni nama lengkap, alamat e-mail, tempat dan tanggal lahir, password dan informasi lainnya yang diperlukan. Dengan memberikan informasi / data tersebut, Anda memahami, bahwa IPB Connect dapat meminta dan mendapatkan setiap informasi / data pribadi Pengguna untuk kesinambungan dan keamanan situs ini.
<br /><br /> 
IPB Connect akan mengumpulkan dan mengolah data mengenai kunjungan Pengguna ke situs IPB Connect, termasuk namun tidak terbatas pada data lalu-lintas, data lokasi, weblog, tautan ataupun data komunikasi lainnya, apakah hal tersebut disyaratkan untuk tujuan penagihan atau lainnya, serta sumberdaya yang Pengguna akses.
<br /><br /> 
Pada saat Pengguna menghubungi IPB Connect, maka IPB Connect menyimpan catatan mengenai korespondensi tersebut dan isi dari komunikasi antara Pengguna dan IPB Connect.
<br /><br /> 
Pengguna memahami dan menyetujui bahwa nama Pengguna dan daerah Kota (bukan alamat lengkap) Pengguna merupakan informasi umum yang tertera di halaman profile IPB Connect Pengguna.
<br /><br /> 
IPB Connect dengan sendirinya menerima dan mencatat informasi dari komputer dan browser Pengguna, termasuk alamat IP, informasi cookie IPB Connect, atribut piranti lunak dan piranti keras, serta halaman yang Pengguna minta.
<br /><br /> 
Setiap informasi / data Pengguna yang disampaikan kepada IPB Connect dan/atau yang dikumpulkan oleh IPB Connect dilindungi dengan upaya sebaik mungkin oleh perangkat keamanan teruji, yang digunakan oleh IPB Connect secara elektronik.
<br /><br /> 
Kerahasiaan kata sandi atau password merupakan tanggung jawab masing-masing Pengguna. IPB Connect tidak bertanggung jawab atas kerugian yang dapat ditimbulkan akibat kelalaian pengguna dalam menjaga kerahasiaan passwordnya.
<br /><br /><br /> 


<b>Penggunaan Informasi</b>
<br /><br /> 
IPB Connect dapat menggunakan keseluruhan informasi / data Pengguna sebagai acuan untuk upaya peningkatan produk dan pelayanan.
<br /><br /> 
IPB Connect dapat mempergunakan dan mengolah Informasi / data Pengguna dengan tujuan untuk menyesuaikan situs IPB Connect sesuai dengan minat Pengguna.
<br /><br /> 
IPB Connect dapat meminta Pengguna melengkapi survei yang IPB Connect gunakan untuk tujuan penelitian atau lainnya, meskipun Pengguna tidak harus menanggapinya.
<br /><br /> 
IPB Connect dapat menghubungi Pengguna melalui email, surat, telepon, fax, termasuk namun tidak terbatas.
<br /><br /> 
Situs IPB Connect memilki kemungkinan terhubung dengan situs-situs lain diluar situs IPB Connect, dengan demikian Pengguna menyadari dan memahami bahwa IPB Connect tidak turut bertanggung jawab terhadap kerahasiaan informasi Pengguna setelah Pengguna mengakses situs-situs tersebut dengan meninggalkan atau berada diluar situs IPB Connect.
		       		</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
