<!-- Page Title -->
<div class="section section-breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Verified Account</h1>
			</div>
		</div>
	</div>
</div>

<div class="section">
    <div class="container">
    	<div class="row">
    		<!-- perbedaan -->

    		<div class="col-md-3 col-sm-6" ng-repeat="e in verifiedList">
				<div class="blog-post" align="center">
					<a href="" ng-click="openLightboxModal(user.profile.photo)">
						<img ng-src="{{resolvedPhotoAccount(e.profile.photo)}}" class="img-circle" width="200" height="200" alt="Explore Alumni">
					</a>
					<div class="post-title">
						<h5 align="center"><a href="" ng-click="goDetailUser(e._id)"><b>{{e.fullName}}</b></a></h5>
					</div>
						<p class="txt-center">{{e.studyProgramId.name}}</p>
						<p class="txt-center">{{e.batch}}</p>
				</div>
			</div>
		</div>
		<div ng-show="total < 1">
			<h3>There is no left Verified Account. <br/><br/><br/><br/><br/></h3>
		</div>
		<div class="pagination-wrapper " ng-show="total > 0">
				<ul uib-pagination total-items="offset" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" num-pages="numPages" ng-change="pageChanged()"></ul>
		</div>
    </div>
</div>

	   