.cal-top {
  margin-top: 24px;
  margin-left: -31px;
}
.time-top {
  margin-top: 4px;
  margin-left: -31px;
}

.button-right {
  margin-left: 2px;
}

.button-cancel{
  background-color: grey;
}

.button-reset{
  background-color: orange;
}

.button-delete{
  background-color: #ff3333;
}

.button-yellow{
  background-color: yellow;
}

.button-white{
  background-color: white;
}

.spc-left{
	margin-left: 14px;
}

.spc-minleft{
	margin-left: -31px;
}

.spc-minleft1{
	margin-left: 6px;
}

.spc-up{
	margin-top: 12px;
}


.bg-green{
	background-color: green;
}

.spc-min-up{
	margin-top: -10px; 
	padding: 30px 20px;
}


.txt-center{
	text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.img-circle1 {
    border-radius: 50px;
	height:80px; 
	width:80px;
	weight:80px;
}


.font-size{
	font-size: 21px;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  /*width:500px;*/
  height:350px;
}

.cropAreaRegister {
  background: #E4E4E4;
  overflow: hidden;
  /*width:500px;*/
  height:250px;
}

.space-left {
	margin-left: 55px;
}

.modal-body-policy{
    max-height: calc(100vh - 212px);
    max-width : 100%;
    overflow-y: auto;
}