        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-1">
						<img src="app/assets/img/logo_ipb.png" alt="Multipurpose Twitter Bootstrap Template" width="70px" height="70px">
					</div>
					<div class="col-md-8">
						<h1 style="margin-top:20px;"> IPB CONNECT </h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section" style="background-image:url(app/assets/img/back_ipb2.jpg); opacity: 0.9;">
	    	<div class="container">
	    		<flash-message
				    duration="10000"
				    show-close="true"
				    on-dismiss="myCallback(flash);"
				></flash-message> 
	    		<div class="row">
	    			<div class="col-sm-3"></div>
	    			<div class="col-sm-5">
	    				<h2 style="color: white; border-bottom: 2px solid white;">LOGIN</h2>
	    			</div>
	    		</div>  
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-5">
						<div class="basic-login" style="background-color: white;">
							<form role="form" role="form" ng-submit="login()">
								<div class="form-group">
		        				 	<label for="login-username" style="color: black;"><i class="icon-user"></i> <b>Email</b></label>
									<input class="form-control" id="login-username" type="text" placeholder="" ng-model="data.email" required="true">
								</div>
								<div class="form-group">
		        				 	<label for="login-password" style="color: black;"><i class="icon-lock"></i> <b>Password</b></label>
									<input class="form-control" id="login-password" type="password" placeholder="" ng-model="data.password" required="true">
								</div>
								
								<div class="form-group">
									<p>Not a member? <a ui-sref="register">Register here</a></p>
									<p><a href="" ui-sref="forgotPass" >Forgot Password ?</a></p>
									<button type="submit" class="btn pull-right">Login</button>
									<div class="clearfix"></div>
								</div>
							
							</form>
						</div>
					</div>
	
				</div>
			</div>
		</div>
		
		 <!-- Footer -->
	    <div class="footer">
	    	<div class="container">
		    	<div class="row">
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>IPB Connect</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="#">Our Team</a></li>
		    				<li><a href="#">User Guide</a></li>
		    			</ul>
		    		</div>
		    		<div class="col-footer col-md-3 col-xs-6">
		    			<h3>Navigate</h3>
		    			<ul class="no-list-style footer-navigate-section">
		    				<li><a href="#">Home</a></li>
		    				<li><a href="#">Events</a></li>
		    				<li><a href="#">Vacancy</a></li>
		    				<li><a href="#">Memories</a></li>
							<li><a href="#">Knowledges Sharing</a></li>
		    			</ul>
		    		</div>
		    		
		    		<div class="col-footer col-md-4 col-xs-6">
		    			<h3>Contacts</h3>
		    			<p class="contact-us-details">
	        				<b>Address:</b> Institut Pertanian Bogor<br/>
	        				<b>Phone:</b> +6251 23 654321<br/>
	        				<b>Fax:</b> +6251 23 654321<br/>
	        				<b>Email:</b> <a href="ipbconnect@ipb.ac.id">ipbconnect@ipb.ac.id</a>
	        			</p>
		    		</div>
		 <!--    		<div class="col-footer col-md-2 col-xs-6">
		    			<h3>Stay Connected</h3>
		    			<ul class="footer-stay-connected no-list-style">
		    				<li><a href="#" class="facebook"></a></li>
		    				<li><a href="#" class="twitter"></a></li>
		    				<li><a href="#" class="googleplus"></a></li>
		    			</ul>
		    		</div> -->
		    	</div>
		    	<br/>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2016 IPB Connect. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

	
